/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background */
body {
    background-color: #f4f6f9;
}

/* Container utama */
.container {
    width: 90%;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Judul */
h1 {
     margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
}

/* Navigasi */
.nav ul {
    list-style: none;
    margin-bottom: 20px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

/* Subjudul */
h3 {
    margin-bottom: 10px;
    color: #d84343;
}

/* Tombol tambah */
.tombol {
    display: inline-block;
    margin-bottom: 15px;
    padding: 8px 15px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.tombol:hover {
    background-color: #219150;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd; /* garis luar */
}

/* Header tabel */
thead {
    background-color: #2c3e50;
    color: #fff;
}

th, td {
     padding: 10px;
    text-align: left;
    border: 1px solid #ddd; /* ini bikin garis tengah + semua sisi */
}

/* Hover row */
tbody tr:hover {
    background-color: #f2f2f2;
}

/* Kolom aksi */
td a {
    text-decoration: none;
    margin-right: 8px;
    color: #2980b9;
}

td a:hover {
    text-decoration: underline;
}
/* AKSI BUTTON (Edit & Hapus) */
.aksi {
    display: flex;
    gap: 10px;
    align-items: center;
}

.aksi form {
    margin: 0;
}

.aksi {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0;
}

.aksi form {
    background: transparent !important;
    box-shadow: none !important;
    margin: 0;
    padding: 0;
}
.hapus {
    background-color: #e74c3c;
}

.hapus:hover {
    background-color: #c0392b;
}

form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #219150;
}

.judul-form {
    text-align: center;
    margin-top: 80px;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}